.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 1000;
}

.user{
    display: flex;
    justify-content:space-between;
    width: 15%;
}

.logo{
    height: 50px;
    width: 150px;
    background-image: url(../../assets/img/Netflix-Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.avatar{
    height: 50px;
    width: 50px;
    color: transparent;
    background-image: url(../../assets/img/profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}