.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 1000;
}

.navLogo{
    width: 15%;
}

.navUser{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.user{
    display: flex;
    justify-content:flex-end;
    width: 5%;
    color: #fff;
}

.user > button{
    border: none;
    outline: none;
    background: none;
}

.logo{
    width: 80%;
}

.navbar{
    width: 100%;

}

.avatar{
    width: 30px;
    border-radius: 5px;
   
}